@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/* Common styling */
.grey {
  color: #666;
}

.cap {
  text-transform: capitalize;
}

.up {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 89.38%;
  margin: 0 auto;
}

.text-cap {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

.line-break::before {
  content: "\a";
  white-space: pre;
}

/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #BBBCBF;
  color: #FFF;
}

header .wrapper {
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*styling for logo heading start here*/
.logo-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 21%;
  order: 1;
}

h1 {
  padding-right: 7%;
  border-right: 1px solid #BBBCBF;
}

h1 img {
  max-width: 170px;
  max-height: 40px;
}

.logo-heading span {
  color: #BBBCBF;
  font-size: 17px;
  text-transform: capitalize;
}

/*styling for logo heading end here*/
/*styling for hamburger start here*/
.hamburger {
  display: none;
  order: 2;
}

/*styling for hamburger end here*/
/*styling for top nav start here*/
.header-nav {
  display: flex;
  align-items: center;
  flex-basis: 69%;
  justify-content: end;
  order: 3;
}

.top-nav {
  width: 55%;
  display: flex;
  justify-content: end;
}

.top-nav li {
  padding-right: 5%;
}

.top-nav a {
  color: #FFF;
  font-size: 17px;
  text-transform: capitalize;
  transition: color 1 ease;
}

/*styling for top nav end here*/
/*styling for search div start here*/
.search {
  width: 1%;
  display: flex;
  align-items: center;
  flex-basis: 1%;
  justify-content: end;
  order: 4;
}

.search input {
  width: 10%;
  background-color: transparent;
  transition: width 0.4s ease-in-out;
}

.search input::before {
  content: "\f3eb";
  font-family: "Font Awesome 5 Brands";
  text-indent: 0;
}

/*styling for search div end here*/
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/*styling for slider section start here*/
.slider .wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
}

/*styling for slider heading start here*/
.slider-heading {
  padding: 300px 0 100px 5.5%;
  display: flex;
  background-color: #22242E;
  flex-basis: 25%;
  flex-direction: column;
}

.slider-heading h2 {
  margin-top: 115px;
  color: #FFF;
  font-size: 60px;
  text-transform: uppercase;
}

.text-upper {
  margin-top: 15px;
  color: #FFF;
  font-size: 25px;
  letter-spacing: 53px;
  text-transform: uppercase;
}

.dash-list {
  width: 60%;
  margin-top: 200px;
  display: flex;
}

.dash {
  width: 50px;
  height: 1px;
  margin: 5px auto;
  display: block;
  align-self: flex-end;
  background-color: #FFF;
  transition: all 0.3s ease-in-out;
  text-indent: -9999px;
}

.active-dash {
  height: 10px;
}

/*styling for slider heading end here*/
/*styling for img slider start here*/

.img-slider {
  flex-basis: 75%;
}

.img-slider li,
.img-slider li img {
  height: 100%;
}

.img-slider :not(:first-child) {
  display: none;
}

/*styling for img slider end here*/
/*styling for slider section end here*/
/*styling for why us section start here*/
.why-us {
  padding: 95px 0;
}

.why-us .wrapper {
  display: flex;
}

/*styling for why us content start here*/
.wu-content {
  flex-basis: 40%;
}

.wu-content h2 {
  padding-top: 80px;
  color: #22242D;
  font-size: 60px;
  text-transform: uppercase;
}

.wu-content p {
  padding: 60px 0 175px 0;
  color: #C9C9CB;
  font-size: 20px;
  line-height: 30px;
}

.wu-span {
  display: block;
  color: #D1D1D4;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

/*styling for why us content end here*/
/*styling for why us images start here*/
.wu-imgs {
  flex-basis: 60%;
  position: relative;
}

.wu-img-2 img {
  max-width: 670px;
  max-height: 670px;
  position: absolute;
  top: 0;
  right: 0;
}

.wu-img-1 img {
  max-width: 355px;
  max-height: 415px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*styling for why us images end here*/
/*styling for why us section end here*/



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/





/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/* remove hover effet from mobile */
@media only screen and (min-width: 1024px) {

  /*styling for top nav start here*/
  .top-nav a:hover {
    color: #54BBE6;
  }

  /*styling for top nav start here*/
  /*styling for seach start here*/
  .search:hover {
    width: 1%;
    flex-basis: 10%;
  }

  .search input:hover {
    width: 100%;
    background-color: #FFF;
  }

  /*styling for seach end here*/

}


/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

  /*styling for header start here*/
  header {
    width: 100%;
    position: static;
    background-color: #000;
    border-bottom: none;
    color: #FFF;
  }

  header .wrapper {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /*styling for logo and heading start here*/
  .logo-heading {
    display: flex;
    align-items: center;
    /* flex-basis: 33.33%; */
    flex-direction: column;
    justify-content: center;
    order: 2;
  }

  h1 {
    padding-right: 0;
    border-right: none;
  }

  .logo-heading span {
    margin-top: 10px;
    color: #BBBCBF;
    font-size: 20px;
    text-transform: capitalize;
  }

  /*styling for logo and heading end here*/
  /*styling for hamburger and header nav start here*/
  .hamburger {
    display: block;
    text-align: center;
    /* flex-basis: 33.33%; */
    order: 1;
  }

  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    display: block;
    background-color: #FFF;
    transition: all 0.3s ease-in-out;
    text-indent: -9999px;
  }

  .header-nav {
    width: 50%;
    display: none;
    position: absolute;
    top: 85px;
    align-items: center;
    flex-basis: none;
    justify-content: start;
    order: 3;
  }

  .hamburger:hover+.header-nav {
    display: block;
  }

  .top-nav {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: #1F1F20;
    flex-direction: column;
    justify-content: center;
  }

  .top-nav li {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #FFF;
    background-color: #000;
    color: #FFF;
    text-align: center;
    transition: color 0.5s ease, border-bottom 0.5s ease;
  }

  .top-nav a {
    color: #FFF;
    transition: color 0.5s ease;
  }

  .top-nav li:hover {
    border-bottom: 1px solid #54BBE6;
    color: #54BBE6;
  }

  .top-nav a:hover {
    color: #54BBE6;
  }

  /*styling for hamburger and header nav start here*/
  /*styling for search start here*/
  .search {
    width: 10%;
    display: flex;
    align-items: center;
    flex-basis: 10%;
    justify-content: end;
    order: 4;
  }

  .search:hover {
    width: 10%;
    flex-basis: 10%;
  }

  /*styling for search start here*/
  /*styling for header start here*/

  /*styling for slider start here*/
  .slider {
    padding-top: 250px;
    background-color: #1F1F20;
  }

  .slider-heading {
    width: 20%;
    padding: 200px 0 100px 5.5%;
    display: flex;
    position: relative;
    background-color: #22242E;
    flex-basis: 20%;
    flex-direction: column;
  }

  .img-slider {
    width: 80%;
    flex-basis: 80%;
  }

  /*styling for slider end here*/

  /*styling for why us start here*/
  .why-us .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wu-span {
    display: block;
    color: #D1D1D4;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 25px;
  }

  .wu-content h2 {
    padding-top: 80px;
    color: #22242D;
    font-size: 100px;
    text-transform: uppercase;
  }

  .wu-content p {
    padding: 60px 0 60px 0;
    color: #C9C9CB;
    font-size: 30px;
    line-height: 45px;
  }

  .wu-imgs {
    position: static;
    flex-basis: 60%;
    text-align: center;
  }

  .wu-img-2 img {
    max-width: 100%;
    max-height: 670px;
    position: static;
  }

  .wu-img-1 img {
    padding: 30px 0 100px 0;
    max-width: 70%;
    max-height: 415px;
    position: static;
  }

  /*styling for why us start here*/


}